<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <!--フォロー&フォロワー一覧表示-->
  <div class="col-md-8">
    <section>
      <% if @users.any? %>
      <!--フォローなのか、フォロワーなのかを、「var」の引数で渡している-->
      <h3><%= var %> (<%= @users.count %>)</h3>
          <% @users.each do |user| %>
            <ol class="follows">
                <li>
                  <%= link_to gravatar_for(user, size: 50), user %>
                  <span class="user"><%= link_to user.name, user %></span>
                </li>
            </ol>
            <br/>
          <% end %>
      <% end %>
    </section>
  </div>
</div>
