<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @user.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

    プロフィール：
    <%= f.text_area :profile %>

    メールアドレス：
    <%= f.text_field :email %>
    
    場所：
    <%= f.text_field :area %>

    ホームページ：
    <%= f.text_field :homepage %>
  
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>