<h1>
  <%= @user.name %>
</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @user.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
  
 <!-- 追加箇所 開始 -->
  <div class="field">
    <% if @user.image? %>
      <div class="thumbnail">
        <%= image_tag @user.image.url %>
      </div>
    <% end %><br>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @user.persisted? && @user.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </div>
  <!-- 追加箇所 終了 -->

    プロフィール：
    <%= f.text_area :profile %>

    メールアドレス：
    <%= f.text_field :email %>
    
    場所：
    <%= f.text_field :area %>

    ホームページ：
    <%= f.text_field :homepage %>
  
  <%= f.submit "プロフィールを更新", class: "btn btn-sm btn-primary" %>
<% end %>
