<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  
  <%= form_for(@user) do |f| %>
  <% if @user.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @user.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

    プロフィール：
    <%= @user.profile %>
    <br/>

    メールアドレス：
    <%= @user.email %>
    <br/>
    
    場所：
    <%= @user.area %>
    <br/>

    ホームページ：
    <%= link_to @user.homepage, @user.homepage if @user.homepage != nil %>

  <% end %>
  
  
  <!--フォロー一覧-->
  <h3>フォロー (<%= @user.following_relationships.count %>)</h3>
  <%= link_to "フォロー一覧", followings_user_path(current_user) if logged_in? %>
  
  <!--フォロワー一覧-->
  <h3>フォロワー (<%= @user.followed_relationships.count %>)</h3>
  <%= link_to "フォロワー一覧", followers_user_path(current_user) if logged_in? %>
  </aside>
  
  <!--ささやき一覧表示-->
  <div class="col-md-8">
    <!--ログインしていれば、フォロー画面へ-->
    <%= render 'follow_form' if logged_in? %>
    
    <% if @user.microposts.any? %>
      <h3>ささやき一覧 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>
