<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>つぶやきぜんぶ見てみる？ (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>

<!--<h1>-->
<!--  <%= gravatar_for @user %>-->
<!--  <%= @user.name %>-->
<!--</h1>-->

<!--<%= form_for(@user) do |f| %>-->
<!--  <% if @user.errors.present? %>-->
<!--    <div class="alert alert-danger">-->
<!--      <%= alert %>-->
<!--      <ul>-->
<!--        <% @user.errors.full_messages.each do |full_message| %>-->
<!--          <li>-->
<!--            <%= full_message %>-->
<!--          </li>-->
<!--        <% end %> -->
<!--      </ul>-->
<!--    </div>-->
<!--  <% end %>-->

<!--    プロフィール：-->
<!--    <%= @user.profile %>-->
<!--    <br/>-->

<!--    メールアドレス：-->
<!--    <%= @user.email %>-->
<!--    <br/>-->
    
<!--    場所：-->
<!--    <%= @user.area %>-->
<!--    <br/>-->

<!--    ホームページ：-->
<!--    <%= link_to @user.homepage, @user.homepage %>-->
  
<!--<% end %>-->