<span class="gravatar">
  <% if current_user.image? %>
    <%= link_to image_tag(current_user.image.url, {:size => '50x50'}), current_user %>
  <% else %>
    <%= link_to gravatar_for(current_user, size: 50), current_user %>
  <% end %>
</span>
<h1><%= current_user.name %></h1>
<span><%= link_to "マイページ", current_user %></span>

<hr/>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
    <h4>ささやき</h4>
      <h2><%= link_to current_user.microposts.count.to_s, current_user %></h2>
    </div>
    
    <div class="col-sm-3">
    <h4>フォロー</h4>
      <h2><%= link_to current_user.following_users.count.to_s, followings_user_path(current_user) if logged_in? %></h2>
    </div>
    
    <div class="col-sm-3">
    <h4>フォロワー</h4>
      <h2><%= link_to current_user.followed_users.count.to_s, followers_user_path(current_user) if logged_in? %></h2>
    </div>
    
    <div class="col-sm-3">
    <h4>お気に入り</h4>
      <h2><%= link_to current_user.favorite_microposts.count.to_s, favorites_user_path(current_user) if logged_in? %></h2>
    </div>
    
  </div>
</div>

<hr/>