<li id="micropost-<%= micropost.id %>">
  <span class="gravatar">
    <!--変数を宣言・初期化-->
    <% @retweet_status = "" %>
    <% @moto_id = nil %>
    
    <% if @retweetAll != nil %>
      <% @retweetAll.each do |retweet| %>
        <!--このささやきが、リツート先であれば、リツート状態をONにする。-->
        <% if retweet.sakimicropost_id == micropost.id %>
          <% @retweet_status = 1 %>
          <!--リツート元のIDを保持-->
        
          <!--元つぶやき情報を取得-->
          <% @moto_micropost = @micropostAll[retweet.motomicropost_id - 1] %>
          
        <% end %>
      <% end %>
    <% end %>
    
    <!--リツート先の時-->
    <% if @retweet_status == 1 && @moto_micropost != nil %>
      <% if @userAll[@moto_micropost.user_id - 1].image? %>
        <%= link_to image_tag(@userAll[@moto_micropost.user_id - 1].image.url, {:size => '50x50'}), @userAll[@moto_micropost.user_id - 1] %>
      <% else %>
        <%= link_to gravatar_for(@userAll[@moto_micropost.user_id - 1], size: 50), @userAll[@moto_micropost.user_id - 1] %>
      <% end %>
    <% elsif micropost.user.image? %>
      <%= link_to image_tag(micropost.user.image.url, {:size => '50x50'}), micropost.user %>
    <% else %>
      <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <% end %>
  </span>
  
  <!--リツイート先のささやき表示時-->
  <% if @retweet_status == 1 && @moto_micropost != nil %>
    <span class="user">
      <%= link_to @userAll[@moto_micropost.user_id - 1].name, @userAll[@moto_micropost.user_id - 1] %>
      <span class="retweet">　<%= micropost.user.name %>さんがリツイートしました。</span>
    </span>
    <span class="content"><%= @moto_micropost.content %></span>
    <!--ささやきの写真があるとき-->
    <% if @moto_micropost.image? %>
      <%= image_tag @moto_micropost.image.url, {:width => '300px', :height => 'auto'} %>
    <% end %>
  <% else %>
  <!--通常のツイートのとき-->
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content"><%= micropost.content %></span>
    <!--ささやきの写真があるとき-->
    <% if micropost.image? %>
      <%= image_tag micropost.image.url, {:width => '300px', :height => 'auto'} %>
    <% end %>
  <% end %>

  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> 前に投稿されました。
    
    <!--削除-->
    <% if current_user == micropost.user %>
        <%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "本当にささやきを消していいですか？" },
                                       class: "label label-danger" %>
    <% end %>
    
    <!--お気に入り-->
    <% if micropost.favorited_by?(current_user) %>
      <%= link_to "お気に入りを解除", micropost_favorite_path(micropost,micropost.user),
                                          method: :delete, class: "label label-primary" %>
    <% else %>
      <%= link_to "お気に入りに登録", micropost_favorites_path(micropost),
                                          method: :post, class: "label label-info" %>
    <% end %>
    
    <!--リツイートボタン-->
    <% if micropost.retweeted_by?(micropost) %>
      <%= link_to "リツイート解除", micropost_retweet_path(micropost, micropost),
                                          method: :delete, class: "label label-primary" %>
    <% else %>
      <% if micropost.user_id == current_user.id %>
        <!--自分のささやきはリツイートできないようにする。-->
      <% else %>
      <%= link_to "リツイート", micropost_retweets_path(micropost),
                                          method: :post, class: "label label-info" %>
      <% end %>
    <% end %>
  
  </span>
  
</li>
